@use "./variables";


@mixin fonts ($family, $size, $weight, $lheight, $color ) {
    font-size: $size;
    color: $color;
    font-family: $family;
    font-weight: $weight;
    line-height: $lheight;
  }


// @mixin corner-icon($name, $top-or-bottom, $left-or-right) {

//   .icon-#{$name} {
//     background-image: url("/icons/#{$name}.svg");
//     position: absolute;
//     #{$top-or-bottom}: 0;
//     #{$left-or-right}: 0;
//   }

// }

@mixin btn-arrow {
    width: 210px;
    height: 60px;
    border-radius: 50px;
    border: 1px solid $color-violet;
    background: $color-wtite;
    cursor: pointer;
    -webkit-box-shadow: 5px 5px 5px -2px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 5px 5px 5px -2px rgba(0, 0, 0, 0.2);
    box-shadow: 5px 5px 5px -2px rgba(0, 0, 0, 0.2);
    font-family: $font-m;
 
    @include md {
        width: 120px;
        text-align: left;
        padding-left: 20px;
    }
}

@mixin btn-pink {
  font-size: 18px;
  line-height: 28.8px;
  border: none;
  width: 210px;
  height: 60px;
  border-radius: 50px;
  cursor: pointer;
  -webkit-box-shadow: 5px 5px 5px -2px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 5px 5px 5px -2px rgba(0, 0, 0, 0.2);
  box-shadow: 5px 5px 5px -2px rgba(0, 0, 0, 0.2);
  color: #FFFFFF; 
  font-family: $font-m;
  background-color: $color-pink;

}

@mixin btn-violet {
    font-size: 18px;
    line-height: 28.8px;
    border: none;
    width: 210px;
    height: 60px;
    border-radius: 50px;
    cursor: pointer;
    -webkit-box-shadow: 5px 5px 5px -2px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 5px 5px 5px -2px rgba(0, 0, 0, 0.2);
    box-shadow: 5px 5px 5px -2px rgba(0, 0, 0, 0.2);
    color: #FFFFFF; 
    font-family: $font-m;
    background-color: $color-violet;

  }
  

@mixin socials-bg-hover {
  background-color: $color-white;
  width: 48px;
  height: 48px;
  filter: $color-gray;
  transition: width 2s, height 4s;
}