$color-btn:#565656;
$color-second:#7B7B7B;

@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

$font-family-lato: 'Lato', sans-serif;
$font-family-rhd: 'Red Hat Display', sans-serif;
