@import "./reset";
@import "./variables";
@import "./mixins";
@import "./responsive";

@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');


body {
margin: 0;
font-family: sans-serif;}

.owl-slider {
height: 700px;
width: 1440px;
background-color: rgb(225, 225, 225);
}
