@import "/styles/reset.css";
@import "/styles/weather-icons.min.css";

body {
    font-family:'Montserrat', sans-serif;
    font-style: normal;
    color: #FFFFFF;
    font-weight: 400;
    font-size: 22px;
    line-height: 25px;
    background-color: #3399CC ;
    border: 5px solid #2B81AC;
}

.logo {
    width: 220px;
    height: 74px;
    text-align: left;
}

nav {
    list-style: none;
    display: flex;
    justify-content: space-between;
    margin: 0 120px;
    }

form {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

a {
    color: #2F281E; 
    font-size: 16px;
}

.nav-bar a{ 
    text-decoration: none;
    text-align: center;  
}

.nav-bar a:hover {
    color: #FF9900;
}

ul {
    display: flex;
    align-items: center;
    margin: 0 50px;
}
li {
    padding: 0 15px;
}

.Product {
    color: #FF9900;
}

button {
    background: #FF9900;
    color: #ffffff ;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 13px 25px;
    margin-left: 25px;
    font-size: 16px;
    border: #FF9900;
    width: 110px;
    height: 46px;
    border-radius: 4px;
}

button:hover {
   opacity: 0.8;
}

button:first-child {
    background: #ffffff;
    color:#2F281E ;
    border: 1px solid #BCD0E5;
}

button:first-child:hover {
    background: #f5f4f4;
}

h1 {
    font-weight: 700;
    font-size: 44px;
    line-height: 54px;
    color: #2F281E;
    margin-top: 70px;
}

.section-1 {
    list-style: none;
    display: flex;
    justify-content: space-between;
    margin: 0 120px;
    margin: 70px 120px;
}

.section-1 div {
    display: grid;
}

p {
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    color: #544837;
}

.section-1 button {
    width: 180px;
    height: 50px;
}

.section-1 img {
    width: 640px;
    margin-left: 50px;
}

h2 {
    font-weight: 700;
    font-size: 34px;
    line-height: 46px;
    padding: 100px 0 30px 0;
}

.section-1 button {
    margin: 0 0 55px 0;
}